<div  class="col-lg-12">

    <div style="background-color: white;
    " class="border border-light p-3 mb-4">
        <p class="actv-node">Unconfirmed Transaction</p>
    
            
      
        <div class="pull-right">
          <div class="btn-group">
        <span class="reload-btn btn btn-infinity btn-xs navbar-btn" style="display: inline-block;" type="label" >
          Reload <i class="fa fa-refresh" aria-hidden="true"></i>
      </span>
              
        </div>
        </div>
              
          
        
      
      </div>
      <div class="tablebackground">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">Details</th>
                    <th scope="col">Type</th>
                    <th scope="col">SENDER</th>
                    <th scope="col">RECIPIENT</th>
                    <th scope="col">CONF</th>
                    <th scope="col">FEE	.</th>
                    <th scope="col">AMOUNT</th>
                    <th scope="col">DATE</th>
    
    
    
                  </tr>
                </thead>
                </table>
        </div>
    </div>
    </div>