
<div class="col-md-12 static-stats-wrapper">

 

    <div class="row text-center block-blocks d-flex justify-content-center" style="margin:0 -5px 0 -5px;">

      <div class="col-lg-2 col-md-12 col-sm-12 block-explorer">
        <div id="accordion">
          <div class="card" style="background-color:#FFFFFF;">
            <span class="btn btn-link" data-toggle="collapse" data-target="#collapse" aria-expanded="true" aria-controls="collapseOne" >
              <img  src="assets/time.png" class="icon" alt=""><p class="innertext">Block Time</p>
            </span>
           
            <div id="collapse" class="collapse show" aria-labelledby="heading" data-parent="#accordion">
              <div class="card-body">
                
                <p class="bodytext"> avg 60s</p>

              </div>
            </div>
          </div>
  
        </div>
      </div>
      <div class="col-lg-2 col-md-12 col-sm-12 block-explorer">
        <div id="accordion">
          <div class="card" style="background-color:#FFFFFF;">
            <span class="btn btn-link" data-toggle="collapse" data-target="#collapsetwo" aria-expanded="true" aria-controls="collapseTwo" >
              <img  src="assets/marketing.png" class="icon" alt="">
              <p class="innertext">Supply Circulating</p>
            </span>
           
            <div id="collapsetwo" class="collapse" aria-labelledby="headingtwo" data-parent="#accordion">
              <div class="card-body">
                <p class="bodytext"> avg 60s</p>

              </div>
            </div>
          </div>
  
        </div>
        
      </div>
      <div class="col-lg-2 col-md-12 col-sm-12 block-explorer">
        <div id="accordion">
          <div class="card" style="background-color:#FFFFFF;">
            <span class="btn btn-link" data-toggle="collapse" data-target="#collapsethree" aria-expanded="true" aria-controls="collapsethree" >
              <img  src="assets/transaction.png" class="icon" alt=""><p class="innertext">Transactions</p>
            </span>
           
            <div id="collapsethree" class="collapse show"  data-parent="#accordion">
              <div class="card-body">
                 <p class="bodytext"> avg 60s</p>
              </div>
            </div>
          </div>
  
        </div>
        
      </div>
      <div class="col-lg-2 col-md-12 col-sm-12 block-explorer">
        <div id="accordion">
          <div class="card" style="background-color:#FFFFFF;">
            <span class="btn btn-link" data-toggle="collapse" data-target="#collapsefour" aria-expanded="true" aria-controls="collapsefour" >
              <img  src="assets/vectorpaint.png" class="icon" alt=""><p class="innertext">Accounts</p>
            </span>
           
            <div id="collapsefour" class="collapse show"  data-parent="#accordion">
              <div class="card-body">
                 <p class="bodytext">avg 60s</p> 
              </div>
            </div>
          </div>
  
        </div>
      </div>
      <div class="col-lg-2 col-md-12 col-sm-12 block-explorer">
        <div id="accordion">
          <div class="card" style="background-color:#FFFFFF;">
            <span class="btn btn-link" data-toggle="collapse" data-target="#collapsefive" aria-expanded="true" aria-controls="collapsefive" >
              <img  src="assets/algoritham.png" class="icon" alt="">
           <p class="innertext">Base Algo</p> </span>
           
            <div id="collapsefive" class="collapse show"  data-parent="#accordion">
              <div class="card-body">
                 <p class="bodytext">avg 60s</p> 
              </div>
            </div>
          </div>
  
        </div>
        
      </div>
      

      

</div>
