<div class="container">
    <div class="row">
      <div class="col">
        

            <div style="background-color: white;
            " class="border border-light p-4 mb-4">
                <p class="actv-node">ACCOUNT TOPLIST

                </p>
            
                    
              
                <span class="reload-btn btn btn-infinity btn-xs navbar-btn" style="display: inline-block;" type="label" >
                    Reload <i class="fa fa-refresh" aria-hidden="true"></i>
            
                    
                
                  </span>
                      
                  
                
              
              </div>
              <div class="tablebackground">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                          <tr>
                            <th scope="col">Details</th>
                            <th scope="col">NAME</th>
                           
            
            
            
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th ></th>
                            <td>514469286325090824</td>
                         
            
            
                          </tr>
                          <tr>
                            <th ></th>
                            <td>514469286325090824 </td>
                           
            
            
                          </tr>
                          <tr>
                            <th ></th>
                            <td>514469286325090824</td>
                         
            
            
                          </tr>
                          <tr>
                            <th ></th>
                            <td>514469286325090824</td>
                           
            
            
                          </tr>
                          <tr>
                            <th></th>
                            <td>514469286325090824</td>
                           
            
            
                          </tr>
                          <tr>
                            <th ></th>
                            <td>514469286325090824</td>
                            
            
            
                          </tr>
                          <tr>
                            <th></th>
                            <td>514469286325090824</td>
                          
            
            
                          </tr>
                          <tr>
                            <th></th>
                            <td>514469286325090824</td>
                        
            
                          </tr>
                          <tr>
                            <th></th>
                            <td>514469286325090824</td>
                            
            
            
                          </tr>
                        </tbody>
                      </table>
                </div>
           
      </div>
    </div>
      <div class="col">
        <div style="background-color: white;
            " class="border border-light p-3 mb-4">
                <p class="actv-node">ACCOUNT TOPLIST

                </p>
            
                    
              
                <div class="pull-right">
                    <div class="btn-group">
                  <span class="reload-btn btn btn-infinity btn-xs navbar-btn" style="display: inline-block;" type="label" >
                    Reload <i class="fa fa-refresh" aria-hidden="true"></i>
                </span>
                        
                  </div>
                  </div>
                      
                  
                
              
              </div>
              <div class="tablebackground">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                          <tr>
                            <th scope="col">Details</th>
                            <th scope="col">NAME</th>
                           
            
            
            
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th ></th>
                            <td>514469286325090824</td>
                         
            
            
                          </tr>
                          <tr>
                            <th ></th>
                            <td>514469286325090824 </td>
                           
            
            
                          </tr>
                          <tr>
                            <th ></th>
                            <td>514469286325090824</td>
                         
            
            
                          </tr>
                          <tr>
                            <th ></th>
                            <td>514469286325090824</td>
                           
            
            
                          </tr>
                          <tr>
                            <th></th>
                            <td>514469286325090824</td>
                           
            
            
                          </tr>
                          <tr>
                            <th ></th>
                            <td>514469286325090824</td>
                            
            
            
                          </tr>
                          <tr>
                            <th></th>
                            <td>514469286325090824</td>
                          
            
            
                          </tr>
                          <tr>
                            <th></th>
                            <td>514469286325090824</td>
                        
            
                          </tr>
                          <tr>
                            <th></th>
                            <td>514469286325090824</td>
                            
            
            
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>
            
      
      </div>
    </div>
</div>   