<div  class="col-lg-12">

<div style="background-color: white;
" class="border border-light p-3 mb-4">
    <p class="actv-node">Recent Transaction</p>

        
    <div class="pull-right">
        <div class="btn-group">
      <span class="reload-btn btn btn-infinity btn-xs navbar-btn" style="display: inline-block;" type="label" >
        Reload <i class="fa fa-refresh" aria-hidden="true"></i>
    </span>
            
      </div>
      </div>
          
      
    
  
  </div>
  <div class="tablebackground">
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Details</th>
                <th scope="col">Type</th>
                <th scope="col">DATE</th>
                <th scope="col">AMOUNT</th>
                <th scope="col">FEE</th>
                <th scope="col">CONF.</th>
                <th scope="col">SENDER</th>
                <th scope="col">RECIPIENT</th>



              </tr>
            </thead>
            <tbody>
              <tr>
                <th ><i class="fas fa-list" aria-hidden="true"></i></th>
                <td>514469286325090824</td>
                <td>0</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>XIN-YR47-KX7H-LBMJ-FWD55</td>
                <td>2021-02-20T14:30:54	</td>
                <td>1186.88 %</td>


              </tr>
              <tr>
                <th class="row "scope="row">1946638</th>
                <td>514469286325090824</td>
                <td>0</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>XIN-YR47-KX7H-LBMJ-FWD55</td>
                <td>2021-02-20T14:30:54	</td>
                <td>1186.88 %</td>


              </tr>
              <tr>
                <th class="row "scope="row">1946638</th>
                <td>514469286325090824</td>
                <td>0</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>XIN-YR47-KX7H-LBMJ-FWD55</td>
                <td>2021-02-20T14:30:54	</td>
                <td>1186.88 %</td>


              </tr>
              <tr>
                <th class="row "scope="row">1946638</th>
                <td>514469286325090824</td>
                <td>0</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>XIN-YR47-KX7H-LBMJ-FWD55</td>
                <td>2021-02-20T14:30:54	</td>
                <td>1186.88 %</td>


              </tr>
              <tr>
                <th class="row "scope="row">1946638</th>
                <td>514469286325090824</td>
                <td>0</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>XIN-YR47-KX7H-LBMJ-FWD55</td>
                <td>2021-02-20T14:30:54	</td>
                <td>1186.88 %</td>


              </tr>
              <tr>
                <th class="row "scope="row">1946638</th>
                <td>514469286325090824</td>
                <td>0</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>XIN-YR47-KX7H-LBMJ-FWD55</td>
                <td>2021-02-20T14:30:54	</td>
                <td>1186.88 %</td>


              </tr>
              <tr>
                <th class="row "scope="row">1946638</th>
                <td>514469286325090824</td>
                <td>0</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>XIN-YR47-KX7H-LBMJ-FWD55</td>
                <td>2021-02-20T14:30:54	</td>
                <td>1186.88 %</td>


              </tr>
              <tr>
                <th class="row "scope="row">1946638</th>
                <td>514469286325090824</td>
                <td>0</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>XIN-YR47-KX7H-LBMJ-FWD55</td>
                <td>2021-02-20T14:30:54	</td>
                <td>1186.88 %</td>


              </tr>
              <tr>
                <th class="row "scope="row">1946638</th>
                <td>514469286325090824</td>
                <td>0</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>XIN-YR47-KX7H-LBMJ-FWD55</td>
                <td>2021-02-20T14:30:54	</td>
                <td>1186.88 %</td>


              </tr>
            </tbody>
          </table>
    </div>
</div>
</div>